 
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /todolist/   # Adjust this to your Angular app's subfolder, if applicable

  # Redirect all requests that are not actual files or directories to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
